@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.shihab{
    width: 1173px !important;
    margin: 0 auto;
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}